:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --main-duration: 0.5s;
}
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  
}
body {
  font-family: "Work Sans", sans-serif;
  
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules */

/* Start components */
.special-heading {
  color: #ebeded;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}

.special-heading + p {
  margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
  color: #797979;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin: -20px;
  }
}

@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
}

/* End components */

/* Start header */

header{
  /* padding: 10px; */
  width: 100%;
}

header  .logo {
  width: 60px;
 
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

header nav {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
  position: relative;
}

header nav ul {
  list-style: none;
  display: flex;
}

header ul li a {
  padding: 10px 10px;
  text-decoration: none;
  display: block;
  transition: 0.3s;
  color: black;
}

header ul li a:hover {
  color: var(--main-color);
}

@media (max-width: 767px) {
  header nav ul {
    display: none;
  }
  header  {
    padding: 10px;
  }
 
  header nav .toggle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    position: absolute;
    top:calc(100%  + 15px) ;
    right: 0px;
    width: 50%;

    background-color: rgb(0 0 0 / 5%);
  }
  header nav ul a {
    padding: 15px !important;
    border-bottom: 1px solid var(--main-color);
  }
  
}
@media (min-width: 767px) {
  header nav .toggle-menu {
    display: none;
  }
}
/* End Header */

/* Start landing */
.landing {
  height: calc(100vh - 70.4px);
  background-image: url("../images/landing.jpg");
  background-size: cover;
  position: relative;
}

.landing .text {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
  width: 320px;
  max-width: 100%; 
}

.landing .text h1 {
  margin: 0;
  color: var(--main-color);
  font-size: 50px;
  font-weight: bold;
}

.landing .text p {
  font-size: 19px;
  line-height: 1.8;
}

@media (max-width: 767px) {
  .landing .text {
    width: 80%;
  }
}

.features {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: #f6f6f6;
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.features .feat {
  padding: 20px;
  text-align: center;
}

.features .feat h3 {
  font-weight: 800;
  margin: 30px 0;
}
.features .feat p {
  color: var(--secondary-color);
  line-height: 1.8;
  font-size: 18px;
}

.features .feat i {
  color: var(--main-color);
}

/* End Landing */

/* Start Services */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 100px;
}

.services .services-content .serv {
  display: flex;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .services .services-content .serv {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.services .services-content .serv i {
  color: var(--main-color);
  flex-basis: 60px;
}

.services .services-content .serv .text {
  flex: 1;
}

.services .services-content .serv .text h3 {
  margin: 0 20px;
}
.services .services-content .serv .text p {
  color: #777;
  font-weight: 300;
  line-height: 1.6;
}

.services .services-content .image {
  position: relative;
  text-align: center;
}

@media (max-width: 1199px) {
  .services .image {
    display: none;
  }
}

.services .services-content .image img {
  width: 260px;
}
.services .services-content .image {
  margin-bottom: -50em;
}
.services .services-content .image::after {
  content: "";
  position: absolute;
  right: 0;
  height: calc(100% + 100px);
  width: 100px;
  background-color: var(--secondary-color);
  top: -50px;
  z-index: -1;
}

/* End SErvices */

/* start portfolio */
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: #f6f6f6;
}

.portfolio .portfolio-content {
  /* margin-top: 100px;
  display: flex;
  flex-wrap: wrap; */
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.portfolio .portfolio-content .card img {
  width: 100%;
}
.portfolio .portfolio-content .card {
  background-color: white;
}

.portfolio .portfolio-content .card .info {
  padding: 20px;
}

.portfolio .portfolio-content .card .info h3 {
  margin: 0;
}

.portfolio .portfolio-content .card .info p {
  color: #777;
  line-height: 1.8;
  margin-bottom: 0;
}
/* End Portfolio */



.about{
  padding-top: var(--section-padding);
  padding-bottom: calc(var(--section-padding) + 60px) ;
}

.about .about-content{
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media(max-width:991px){
  .about .about-content{
    flex-direction: column;
    text-align: center;
  }
}

.about .about-content .image_about{
  position: relative;
  /* width & height img */
  width: 250px;
  height: 375px;


}


@media(max-width:991px){
  .about .about-content .image_about{
    margin: 0 auto 60px;
  }

}
.about .about-content .image_about::before{
  content:'';
  position: absolute;
  background-color: #ebeced;
  width: 100px;
  height: calc(100% + 80px);
  top: -40px;
  left: -20px;
  z-index: -1;


}
.about .about-content .image_about::after{
  content: '';
  
  top: -40px;
  
  position: absolute;
  width: 120px;
  height: 300px;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color); 
  z-index: -1;
  right: -150px;


}
@media(max-width:991px){
  .about .about-content .image_about::before,
  .about .about-content .image_about::after{
    display: none;
  }
}

.about .about-content .image_about img{
  max-width: 100%;
}

.about .about-content .text{
  flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type{
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
}
.about .about-content .text p:last-of-type{
  font-weight: bold;
  line-height: 2;
  color: #777;
  margin-bottom: 50px;
}
hr{
  background-color: var(--main-color);
  width: 50%;
  display: inline-block;
}




/* start contact */

.contact{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: #F6F6F6;
}


.contact .info{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;


}

.contact .info .label{
  font-weight: 800;
  font-size: 35px;
  
  color: var(--secondary-color);
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.contact .info  .link{
  display: block;
  font-size: 35px;
  font-weight:800;
  color: var(--main-color);
 


}




.contact .info .social{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 16px;

}


.contact .info .social i{
  margin-left:10px ;
  color: var(--secondary-color);

}



@media(max-width:767px){
  .contact .info .label,
  .contact .info .link{
    font-size:25px;
  }
}
/* end contact */

/* start footer */
.footer{
  background-color: var(--secondary-color);
  color: white;
  padding: 30px 10px;
  text-align: center;
  font-size:18px;

}


.footer span{
  font-weight:bold ;
  color: var(--main-color);
}
/* Endfooter */
